.s_1_man{
	top: auto;
	bottom: 0;
	height: 40.46875%
}

.s_1_dialog{
	top: 34.6875%;
	left: 28.055556%;
	width: 48.611111%;
	height: 22.03125%;
	-webkit-transform-origin:51% 0%;
}

.s_1_shelf1{
	top: 30.859375%;
	left: auto;
	right: 0;
	width: 26.388889%;
	height: 62.421875%;
}
.s_1_shelf2{
	top: 40.859375%;
	left: auto;
	right: 0;
	width: 32.916667%;
	height: 39.296875%;
}
.s_1_shelf3{
	top: 48.671875%;
	left: auto;
	right: 0;
	width: 37.361111%;
	height: 26.953125%;
}
.s_1_shelf4{
	top: 53.359375%;
	left: auto;
	right: 0;
	width: 41.388889%;
	height: 19.140625%;
}
.s_1_shelf5{
	top: 56.25%;
	left: auto;
	right: 0;
	width: 44.166667%;
	height: 13.4375%;;
}
.s_1_shelf6{
	top: 58.046875%;
	left: auto;
	right: 0;
	width: 45.833333%;
	height: 8.75%;
}
.s_1_shelf7{
	top: 30.859375%;
	width: 27.638889%;
	height: 63.046875%;
}
.s_1_shelf8{
	top: 40.703125%;
	width: 32.916667%;
	height: 39.296875%;
}
.s_1_shelf9{
	top: 48.515625%;
	width: 37.361111%;
	height: 26.953125%;
}
.s_1_shelf10{
	top: 53.203125%;
	width: 41.388889%;
	height: 19.14625%;
}
.s_1_shelf11{
	top: 56.09375%;
	width: 44.166667%;
	height: 13.4375%;
}
.s_1_shelf12{
	top: 57.890625%;
	width: 45.833333%;
	height: 8.75%;
}


.play{
	.s_1_man{
		-webkit-animation:s_1_man 1.8s;
	}
	.s_1_shelf1{
		-webkit-animation:shelfRight 2s;
	}
	.s_1_shelf2{
		-webkit-animation:shelfRight 2.2s;
	}
	.s_1_shelf3{
		-webkit-animation:shelfRight 2.4s;
	}
	.s_1_shelf4{
		-webkit-animation:shelfRight 2.6s;
	}
	.s_1_shelf5{
		-webkit-animation:shelfRight 2.8s;
	}
	.s_1_shelf6{
		-webkit-animation:shelfRight 3s;
	}
	.s_1_shelf7{
		-webkit-animation:shelfLeft 2.3s;
	}
	.s_1_shelf8{
		-webkit-animation:shelfLeft 2.5s;
	}
	.s_1_shelf9{
		-webkit-animation:shelfLeft 2.7s;
	}
	.s_1_shelf10{
		-webkit-animation:shelfLeft 2.9s;
	}
	.s_1_shelf11{
		-webkit-animation:shelfLeft 3.1s;
	}
	.s_1_shelf12{
		-webkit-animation:shelfLeft 3.3s;
	}
	.s_1_dialog{
		-webkit-animation:s_1_dialog 4s linear;
	}
}
/*
@media screen and (max-height: 508px) {
	.s_1_man{
		top:6%;
	}
	.s_1_dialog{
		top:-7%;
	}
}
@media screen and (min-height: 508px) {
	.s_1_shelf1,
	.s_1_shelf2,
	.s_1_shelf3,
	.s_1_shelf4,
	.s_1_shelf5,
	.s_1_shelf6,
	.s_1_shelf7,
	.s_1_shelf8,
	.s_1_shelf9,
	.s_1_shelf10,
	.s_1_shelf11,
	.s_1_shelf12{
		top: -4%;
	}
	.s_1_dialog{
		top: -13%;
	}
}
*/