.s_1_man{
	top: auto;
	bottom: 0;
}

.s_1_dialog{
	top: 34.6875%;
	left: 28.055556%;
	-webkit-transform-origin:51% 100%;
	-webkit-transform:translate(0);
}

.s_1_shelf1{
	top: 30.859375%;
	left: auto;
	right: 0;
}

.s_1_shelf2{
	top: 40.859375%;
	left: auto;
	right: 0;
}
.s_1_shelf3{
	top: 48.671875%;
	left: auto;
	right: 0;
}
.s_1_shelf4{
	top: 53.359375%;
	left: auto;
	right: 0;
}
.s_1_shelf5{
	top: 56.25%;
	left: auto;
	right: 0;
}
.s_1_shelf6{
	top: 58.046875%;
	left: auto;
	right: 0;
}
.s_1_shelf7{
	top: 30.859375%;
}
.s_1_shelf8{
	top: 40.703125%;
}
.s_1_shelf9{
	top: 48.515625%;
}
.s_1_shelf10{
	top: 53.203125%;
}
.s_1_shelf11{
	top: 56.09375%;
}
.s_1_shelf12{
	top: 57.890625%;
}

.play{
	.s_1_man{
		-webkit-animation:s_1_man 2s both;
	}

	@for $i from 1 through 6{
		.s_1_shelf#{$i}{
			-webkit-animation:shelfRight (2s + 0.2s * ($i - 1)) both;
		}
	}

	@for $i from 7 through 12{
		.s_1_shelf#{$i}{
			-webkit-animation:shelfLeft (2.1s + 0.2s * ($i - 7)) both;
		}
	}


	.s_1_dialog{
		-webkit-animation:s_1_dialog 4s linear both;
	}
}