.p_4_gray{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.s_4_slogan{
	background-size: auto 100%;
  width: 0;
}
.s_4_color{
  opacity:0;
  -webkit-transform:translateY(0%);
}
@media screen and (max-height: 508px) {
	.s_4_slogan{
		top: 10%;
	}
}

.s_4_book2{
  -webkit-transform:translateY(-6%);
  -webkit-transition:-webkit-transform ease-in $turnPageTime*1;
}
.s_4_book3{
  -webkit-transform:translateY(-15%);
  -webkit-transition:-webkit-transform ease-in $turnPageTime*1;
}
.s_4_book4{
  -webkit-transform:translateY(-13%);
  -webkit-transition:-webkit-transform ease-in $turnPageTime*1;
}
.s_4_book5{
  -webkit-transform:translateY(-17%);
  -webkit-transition:-webkit-transform ease-in $turnPageTime*1.1;
}
.s_4_bet{
  opacity:0;
  -webkit-transform:translateY(-5%);
  -webkit-transition:-webkit-transform ease-in $turnPageTime*1.2;
}


.play{
	.s_4_slogan{
		-webkit-animation:s_4_slogan step-end 5s forwards;
	}
  .s_4_book2,
  .s_4_book3,
  .s_4_book4,
  .s_4_book5{
    -webkit-transform:translateY(0%);
  }
  .s_4_net{
    opacity:1;
    -webkit-transform:translateY(0%);
  }
}
.ended{
  .p_4_gray{
		-webkit-animation:p_4_gray linear 6.2s forwards;
  }
  .s_4_color{
		-webkit-animation:s_4_color linear 6.2s forwards;
  }
  .download{
		-webkit-animation:download linear 6.2s forwards;
  }
}

.download{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0;
	padding-top: 46%;
	background: #ccc url(../images/sprite/download_bg.jpg) center center no-repeat;
	background-size: 100% 100%;
  -webkit-transform:translateY(100%);
	&_con,
	&_star1,
	&_star2{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
    margin:auto;
    width:100%;
    height: 0;
    padding-bottom: 33%;
		background: 0 0 no-repeat;
		background-size: 100% 100%;
	}
	&_con{
		background-image: url(../images/sprite/download_con.png);
	}
	&_star1{
		background-image: url(../images/sprite/download_star1.png);
		-webkit-animation:star1 1s infinite;
	}
	&_star2{
		background-image: url(../images/sprite/download_star2.png);
		-webkit-animation:star2 1s infinite;
	}
}
@-webkit-keyframes star1{
  0%{
    opacity: 0;
  }
  80%{
  	opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@-webkit-keyframes star2{
  0%{
    opacity: 1;
  }
  80%{
  	opacity: 0;
  }
  100%{
    opacity: 1;
  }
}