.s_3_head{
	-webkit-transform-origin: 47% 60%;
    -webkit-transform:rotate(-33deg);
}
.s_3_dialog{
	-webkit-transform-origin: 40% 54%;
  -webkit-transform:scale(0);
  opacity: 0;
}

.s_3_book2{
	// -webkit-transform:translateY(-16%);
	// -webkit-transition:-webkit-transform $turnPageTime;
	-webkit-transform:rotateX(-45deg);
	-webkit-transform-origin:0% 62.34375%;
}
/*
.w_3_body{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transform:translate3d(0,-6%,0);
	-webkit-transition:-webkit-transform $turnPageTime*0.8;
}
.s_3_shadow{
	-webkit-transform:translateY(10%);
	-webkit-transition:-webkit-transform $turnPageTime*0.8;
}
.s_3_table{
	-webkit-transform:translateY(14%);
	-webkit-transition:-webkit-transform $turnPageTime*0.8;
}
*/

.play{
/*
	.w_3_body,
  .s_3_table,
	.s_3_shadow,
	.s_3_book2{
		-webkit-transform:translateY(0%);
	}
  */
  
	.s_3_dialog{
		-webkit-animation:s_3_dialog linear 3s forwards;
	}
	.s_3_head{
		-webkit-animation:s_3_head linear 5s;
	}
}
