.s_3_head{
	-webkit-transform-origin: 46.66667% 21.444201%;
    -webkit-transform:rotate(-33deg);
}
.s_3_dialog{
	-webkit-transform-origin: 87% 100%;
  -webkit-transform:scale(0);
  opacity: 0;
  top:14.296875%;
  left:8.055556%;
}
.s_3_shadow{
  top:auto;
  bottom: 0;
}

.s_3_book2{
	-webkit-transform:rotateX(-90deg);
	-webkit-transform-origin:0% 62.34375%;
  top:54.453125%;
  left:36.805556%;
}

.w_3_body{
	position: absolute;
	top: 52.578125%;
	left: 0;
  @include sSize(720px,457px);
}
.onload .s_3_body,
.onload .s_3_head{
  height:100%;
}
.s_3_table{
	top: 36.953125%;
}

.s_3_body{
	-webkit-transform:translate3d(0,0,0);
}

.play{
	.s_3_dialog{
		-webkit-animation:s_3_dialog linear 2.8s forwards;
	}
	.s_3_head{
		-webkit-animation:s_3_head linear 4s both;
	}
	.s_3_book2{
		-webkit-animation:s_3_book2 linear 4s both;
	}
}